.header{

    &__wrapper{
        padding: 100px 80px 50px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

    }

    &__logo-title{
        color: $logo-color;
        font-size: 6rem;
        font-weight: 700;
        text-decoration: none;
        text-shadow:4px 4px 20px rgba($color: #000000, $alpha: 1.0) ;
        transition: 1s linear;

        &:hover{
            transition: 0.7s linear;
            text-shadow:1px 1px 30px $logo-hover-color ;
            

        }
       
    }

    &__search{
        padding-top: 7px;
        height: 60px;
        width: 400px;
        border-radius: 30px;
        border: none;
        box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: 1.0);

        &::placeholder{
            font-size: 2.2rem;
            text-align:center;
            color: $placeholder-color;
        }
        &:active{
            border: none;
        }
    }

}