
.movie-card {
    
    margin: 0 30px 60px 0;
    width: 400px;
    height: 680px;
    background: transparent;
    display: flex;
    flex-direction: column;
    


    &__img-block {

        display: flex;
        
        width: 360px;
        height: 550px;
        transition: 1s linear;

    }
    &__img{
        object-fit: cover;
        
        transition: 0.5s linear;

        &:hover{
            transform: scale(1.1);
            
            

        }
    }

    

    &__title {

        padding: 30px 0 0px 0;

        color: $movie-title-color;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4rem;

        text-align: left;
        
    }

    &__genre {
        padding: 30px 0 0px 0;

        color: $movie-genre-color;
        font-size: 1.5rem;
        font-weight: 300;
    }
}
